<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">

                <p><strong>v1.2.4 (20160822)</strong><br>
                    * fixed FB share counts (works again now!)
                    * disabled Twitter as API has been closed in mid Nov 2015<br>
                </p>

                <p><strong>v1.2.3 (20150416)</strong><br>
                    * using localStorage instead sessionStorage for e.g. Cookie information on first page load
                </p>

                <p><strong>v1.2.2 (20150316)</strong><br>
                    * Fixes<br>
                </p>

                <p><strong>v1.2.1 (20150107)</strong><br>
                    * less annoying cookie info (inline instead modal popup)<br>
                </p>

                <p><strong>v1.2.0 (20150105)</strong><br>
                    * introduced total shares count<br>
                    * backend bug fixes<br>
                </p>

                <p><strong>v1.1.0 (20141222)</strong><br>
                    * source code moved to <a href="https://github.com/dominikbulaj/shares-webapp">GitHub</a><br>
                </p>

                <p><strong>v1.0.2 (20141219)</strong><br>
                    * added short-time cache for http requests<br>
                </p>

                <p><strong>v1.0.1 (20141219)</strong><br>
                    * result sorting by either: service name or shares count<br>
                </p>

                <p><strong>v1.0 (20141218)</strong><br>
                    * first public release<br>
                </p>

                <p>
                    <a href="../" type="button" class="btn btn-flat btn-material-indigo-700">Back</a>
                </p>

            </div>
        </div>
    </div>
</div>