<div class="row">

    <div class="col-lg-8 col-md-12" ng-controller="SharesController">
        <div class="panel panel-default">
            <div class="panel-body">

                <form ng-submit="getShares()">
                    <fieldset>
                        <div class="form-group">
                            <legend>Enter URL address that you want to check</legend>
                            <div class="form-control-wrapper"><input type="url" class="form-control" ng-model="url"
                                                                     data-hint="URL address to check" placeholder="URL address to check">
                                <span class="material-input"></span></div>
                        </div>

                        <div class="clearfix">
                            <button type="submit" class="btn btn-material-indigo pull-left" ng-disabled="loading">Get share counts</button>
                            <div class="pull-left" style="padding-top:8px; margin-left:20px;" ng-show="loading" ng-cloak>
                                <img src="/assets/pics/loader.svg" width="60" height="40" alt="">
                            </div>
                        </div>
                        <div class="alert alert-dismissable alert-material-amber-100" style="margin-bottom: 0;" ng-cloak ng-show="showCacheNotice()">
                            <button type="button" class="close" data-dismiss="alert" ng-click="hideCacheNotice()">×</button>
                            Please note that all results are cached for 5 minutes.
                        </div>
                    </fieldset>
                </form>

                <div class="alert alert-dismissable alert-danger" ng-show="error" ng-cloak>
                    <p>{{error}}</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default" ng-show="results" ng-cloak>
            <div class="panel-body">

                <div class="btn-group btn-material-indigo pull-right">
                    <a href="javascript:void(0)" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Sort result</a>
                    <a href="javascript:void(0)" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="sort = 'name'" ng-class="{'bold':sort=='name'}">Service name</a></li>
                        <li><a href="#" ng-click="sort = '-shares'" ng-class="{'bold':sort=='-shares'}">Shares count</a></li>
                    </ul>
                </div>

                <h2>Results for URL</h2>
                <a href="{{resultsUrl}}" target="_blank">{{resultsUrl|limitTo:85}}</a>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <div ng-repeat="result in results|orderBy:sort">
                        <div class="list-group-item">
                            <div class="row-picture">
                                <img class="circle" ng-src="{{result.icon}}" alt="icon">
                            </div>
                            <div class="row-content">
                                <h4 class="list-group-item-heading">{{result.name}}</h4>
                                <p class="list-group-item-text">
                                    <ng-pluralize count="result.shares"
                                                  when="{
                                                '0': 'No shares yet',
                                                '1': 'Shared one time',
                                                'other': 'Shared {} times'}">
                                    </ng-pluralize>
                                </p>
                            </div>
                        </div>
                        <div class="list-group-separator"></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <a href="most-searched">
                    <i class="mdi-action-search mdi-material-indigo-900"></i>
                    Most searched domains</a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 visible-lg-block" ng-controller="LastSearchedController">
        <div class="panel panel-default">
            <div class="panel-body text-center">

                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>

                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ecbc6dc36033653" async="async"></script>

            </div>
        </div>

        <div class="panel panel-default" ng-if="visible()" ng-init="getLastSearched()">
            <div class="panel-body">
                <div class="lead">Last searched URLs</div>

                <div ng-repeat="search in lastSearched | limitTo: 5" ng-show="lastSearched" ng-cloak>
                    <!--<small class="pull-right"><time datetime="{{search.time | date:'yyyy-MM-ddTHH:mm:ssZ'}}">{{search.time | date:'shortTime'}}</time></small>-->
                    <span title="{{search.url}}">{{search.urlNoScheme|limitTo:40}}</span><br>
                </div>
                <div class="text-center" ng-hide="lastSearched || error">
                    <img src="/assets/pics/loader.svg" width="60" height="15" alt="">
                </div>

                <div class="alert alert-dismissable alert-danger" ng-show="error" ng-cloak>
                    <p>{{error}}</p>
                </div>

            </div>
        </div>
    </div>
</div>
